@model Team_WASD_GSSMSClient.UserProfile

@{
    ViewBag.Title = "Logout";
}
<!-- Author: Elizaveta Liashova, log out page-->
<h2>You have successfully logged out!</h2>

<div>
    @Html.ActionLink("Back to Login Page", "../Home/Login", null, new { @class = "btn btn-primary" })
</div>

